<a href="https://colab.research.google.com/github/htbkoo/Colaboratory/blob/master/spike/firstPlay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import pandas as pd
from IPython import display

ModuleNotFoundError: ignored

In [0]:
from urllib.request import Request, urlopen
from pandas.io.json import json_normalize
import json

In [0]:
hostname = "exercise-tracker-microservice-hey.glitch.me"
apiPath = "api/exercise/log"
userId = "664558db-d23b-4374-955b-a193fe090b50"
url = "https://%s/%s?userId=%s" % (hostname, apiPath, userId)

print(url)

request=Request(url)
response = urlopen(request)
elevations = response.read()
data = json.loads(elevations)
print(data)

normalized_data = json_normalize(data['log'])
normalized_data

https://exercise-tracker-microservice-hey.glitch.me/api/exercise/log?userId=664558db-d23b-4374-955b-a193fe090b50
{'userId': '664558db-d23b-4374-955b-a193fe090b50', 'username': 'someUser', 'count': 7, 'log': [{'duration': 34, 'description': 'c', 'date': 'Tue, Nov 20, 2018'}, {'duration': 1234, 'description': 'c', 'date': 'Tue, Nov 20, 2018'}, {'duration': 3, 'description': 'c', 'date': 'Tue, Nov 20, 2018'}, {'duration': 8, 'description': 'c', 'date': 'Tue, Nov 20, 2018'}, {'duration': 10, 'description': 'c', 'date': 'Tue, Nov 20, 2018'}, {'duration': 2, 'description': 'b', 'date': 'Tue, Nov 20, 2018'}, {'duration': 1, 'description': 'a', 'date': 'Tue, Nov 20, 2018'}]}

                date description  duration
0  Tue, Nov 20, 2018           c        34
1  Tue, Nov 20, 2018           c      1234
2  Tue, Nov 20, 2018           c         3
3  Tue, Nov 20, 2018           c         8
4  Tue, Nov 20, 2018           c        10
5  Tue, Nov 20, 2018           b         2
6  Tue, Nov 20, 2018           a         1

In [0]:
display.display(normalized_data.describe())

          duration
count     7.000000
mean    184.571429
std     462.893745
min       1.000000
25%       2.500000
50%       8.000000
75%      22.000000
max    1234.000000