<a href="https://colab.research.google.com/github/htbkoo/0Colaboratory/blob/master/Kaggle/titanic-machine-learning-from-disaster/(xgboost)_htbkoo_Titanic__Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Setup

## Limiting GPU memory growth

By default, TensorFlow maps nearly all of the GPU memory of all GPUs (subject to
[`CUDA_VISIBLE_DEVICES`](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#env-vars)) visible to the process. This is done to more efficiently use the relatively precious GPU memory resources on the devices by reducing memory fragmentation. To limit TensorFlow to a specific set of GPUs we use the `tf.config.experimental.set_visible_devices` method.

In [15]:
import tensorflow as tf

TF_MEMORY_GROWTH_CONFIG = True

gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  try:
    # Currently, memory growth needs to be the same across GPUs
    for gpu in gpus:
      tf.config.experimental.set_memory_growth(gpu, TF_MEMORY_GROWTH_CONFIG)
#     logical_gpus = tf.config.experimental.list_logical_devices('GPU')
#     print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPUs")  # hiding to avoid leaking information into outputs
    print(f"ok, 'set_memory_growth' for all gpus to {TF_MEMORY_GROWTH_CONFIG}")
  except RuntimeError as e:
    # Memory growth must be set before GPUs have been initialized
    print(e)

ok, 'set_memory_growth' for all gpus to True

### Actual Notebook

#### Imports

In [16]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

# Any results you write to the current directory are saved as output.

In [25]:
import tensorflow as tf
import autokeras as ak

#### Train / Test data setup

In [17]:
data_folder = './local_data'
print(os.listdir(data_folder))

['test.csv', 'train.csv']

In [18]:
train_data_path = f'{data_folder}/train.csv'
test_data_path = f'{data_folder}/test.csv'

In [26]:
# Initialize the structured data classifier.
clf = ak.StructuredDataClassifier(
    overwrite=True,
    max_trials=3) # It tries 3 different models.
# Feed the structured data classifier with training data.
clf.fit(
    # The path to the train.csv file.
    train_data_path,
    # The name of the label column.
    'Survived',
    epochs=10)
# Predict with the best model.
predicted_y = clf.predict(test_data_path)
# Evaluate the best model with testing data.
# print(clf.evaluate(test_file_path, 'survived'))

Trial 3 Complete [00h 00m 02s]
val_loss: 0.3246705234050751

Best val_loss So Far: 0.1598200649023056
Total elapsed time: 00h 00m 06s
INFO:tensorflow:Oracle triggered exit
Epoch 1/10
28/28 [==============================] - 0s 2ms/step - loss: 0.3800 - mean_squared_error: 0.3800
Epoch 2/10
28/28 [==============================] - 0s 2ms/step - loss: 0.2253 - mean_squared_error: 0.2253
Epoch 3/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1807 - mean_squared_error: 0.1807
Epoch 4/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1618 - mean_squared_error: 0.1618
Epoch 5/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1509 - mean_squared_error: 0.1509
Epoch 6/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1428 - mean_squared_error: 0.1428
Epoch 7/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1368 - mean_squared_error: 0.1368
Epoch 8/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1321 - mean_squared_error: 0.1321
Epoch 9/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1285 - mean_squared_error: 0.1285
Epoch 10/10
28/28 [==============================] - 0s 2ms/step - loss: 0.1254 - mean_squared_error: 0.1254
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: ./structured_data_regressor/best_model/assets
WARNING:tensorflow:5 out of the last 5 calls to <function recreate_function.<locals>.restored_function_body at 0x7fd96058f400> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:6 out of the last 6 calls to <function recreate_function.<locals>.restored_function_body at 0x7fd9605c1ae8> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:7 out of the last 7 calls to <function recreate_function.<locals>.restored_function_body at 0x7fd9604ab1e0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:8 out of the last 8 calls to <function recreate_function.<locals>.restored_function_body at 0x7fd960511bf8> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

KeyError: 'Survived'

In [27]:
predicted_y

array([[ 1.77632302e-01],
       [ 4.52613115e-01],
       [ 3.82916987e-01],
       [ 2.49574363e-01],
       [ 4.08785194e-01],
       [ 2.64195949e-01],
       [ 2.98569173e-01],
       [ 3.06525379e-01],
       [ 8.00926030e-01],
       [ 3.28331590e-02],
       [ 2.31569529e-01],
       [ 3.04002851e-01],
       [ 1.03733134e+00],
       [ 2.50858307e-01],
       [ 1.01848197e+00],
       [ 9.65063989e-01],
       [ 4.99152660e-01],
       [ 2.35689700e-01],
       [ 5.75449109e-01],
       [ 6.03925705e-01],
       [ 7.65643567e-02],
       [ 1.77708864e-01],
       [ 1.09720159e+00],
       [ 4.24487665e-02],
       [ 4.05896962e-01],
       [-4.08735052e-02],
       [ 6.06920123e-01],
       [ 2.35114545e-01],
       [ 3.14378709e-01],
       [-3.40920687e-01],
       [ 2.39385247e-01],
       [ 2.71109074e-01],
       [ 5.24964392e-01],
       [ 6.98009372e-01],
       [ 4.24074918e-01],
       [ 2.37057954e-01],
       [ 8.37816060e-01],
       [ 7.97066867e-01],
       [ 2.50351906e-01],
       [ 1.88953936e-01],
       [-4.85994294e-02],
       [ 3.13609004e-01],
       [ 2.32988805e-01],
       [ 9.85215783e-01],
       [ 1.20617235e+00],
       [ 2.51995325e-01],
       [ 2.64244467e-01],
       [ 2.90623009e-01],
       [ 1.12314057e+00],
       [ 5.15376627e-01],
       [ 2.18815446e-01],
       [ 4.34806913e-01],
       [ 8.14546883e-01],
       [ 4.54589188e-01],
       [ 4.76297915e-01],
       [ 4.01346162e-02],
       [ 2.40622789e-01],
       [ 3.11998665e-01],
       [-1.63616806e-01],
       [ 8.82242382e-01],
       [ 2.60862887e-01],
       [ 3.47160310e-01],
       [ 2.59793371e-01],
       [ 7.17780828e-01],
       [ 2.66202778e-01],
       [ 1.12823868e+00],
       [ 7.58762181e-01],
       [ 9.09171626e-02],
       [ 2.51792163e-01],
       [ 2.90363282e-01],
       [ 6.96912467e-01],
       [ 2.56122082e-01],
       [ 7.74682045e-01],
       [ 2.48174489e-01],
       [ 6.82327688e-01],
       [-1.74561799e-01],
       [ 2.31266707e-01],
       [ 1.00102377e+00],
       [ 3.63912493e-01],
       [ 6.96448624e-01],
       [ 8.28896239e-02],
       [-5.04173711e-02],
       [ 3.28853339e-01],
       [ 2.31298536e-01],
       [ 5.58828354e-01],
       [ 1.43637359e-01],
       [ 6.65620327e-01],
       [ 8.08119893e-01],
       [ 8.97953689e-01],
       [-8.63895640e-02],
       [ 6.40988767e-01],
       [ 2.31287092e-01],
       [ 1.13837349e+00],
       [ 2.31020331e-01],
       [ 2.50745237e-01],
       [ 2.51369685e-01],
       [ 1.16332781e+00],
       [ 2.46700972e-01],
       [ 8.02846432e-01],
       [ 2.42036939e-01],
       [ 8.27038050e-01],
       [-3.92999351e-02],
       [ 2.87577540e-01],
       [ 2.50146151e-01],
       [ 4.55488563e-01],
       [ 7.56117180e-02],
       [ 2.47634917e-01],
       [ 2.87300646e-01],
       [ 2.30230153e-01],
       [ 3.74211550e-01],
       [ 3.79404485e-01],
       [ 8.91323268e-01],
       [ 8.49646151e-01],
       [ 7.47593701e-01],
       [ 6.70398235e-01],
       [-2.06722856e-01],
       [ 2.23482639e-01],
       [ 7.32170939e-01],
       [ 2.64243811e-01],
       [ 9.30492342e-01],
       [ 9.27291036e-01],
       [ 2.89160490e-01],
       [ 8.97944689e-01],
       [ 2.48175055e-01],
       [ 2.86359280e-01],
       [ 6.91682696e-01],
       [ 2.54263520e-01],
       [ 6.57724798e-01],
       [ 3.76639366e-01],
       [ 2.51687527e-01],
       [ 2.42683560e-01],
       [ 3.03268492e-01],
       [ 5.81317425e-01],
       [ 1.39624387e-01],
       [ 2.42532313e-01],
       [ 2.51812935e-01],
       [ 2.34569103e-01],
       [ 3.72530133e-01],
       [ 7.94361353e-01],
       [ 9.39136818e-02],
       [ 2.20345333e-02],
       [ 1.04170978e+00],
       [ 1.15647689e-02],
       [ 1.00448653e-02],
       [ 3.39083433e-01],
       [-3.14783514e-01],
       [ 4.26438302e-02],
       [ 2.53657818e-01],
       [ 2.99887717e-01],
       [-2.30517328e-01],
       [ 1.17725742e+00],
       [ 2.19323605e-01],
       [ 2.09188193e-01],
       [ 5.57673812e-01],
       [-4.57484275e-03],
       [ 2.51843452e-01],
       [ 8.58230650e-01],
       [ 7.94232190e-01],
       [ 3.41580212e-01],
       [ 6.28933489e-01],
       [ 8.76893044e-01],
       [-3.50666046e-01],
       [ 1.00435400e+00],
       [ 2.30913579e-01],
       [ 3.95430297e-01],
       [ 4.49274361e-01],
       [ 2.66969025e-01],
       [ 5.78495190e-02],
       [ 1.06752455e+00],
       [ 8.01650882e-01],
       [ 2.30336607e-01],
       [ 2.34757513e-01],
       [ 1.78875923e-01],
       [ 2.19212323e-01],
       [ 1.06850497e-01],
       [ 9.07552481e-01],
       [ 9.90734160e-01],
       [ 2.38951534e-01],
       [ 4.97167945e-01],
       [ 3.17117095e-01],
       [ 3.74759912e-01],
       [-2.50847265e-02],
       [ 1.09220219e+00],
       [ 2.83165634e-01],
       [ 8.93407345e-01],
       [ 4.00057584e-01],
       [ 1.00150931e+00],
       [ 9.81110558e-02],
       [ 2.08740011e-02],
       [ 3.98549914e-01],
       [-2.45576128e-02],
       [ 2.93743491e-01],
       [-1.12171017e-01],
       [ 4.25991088e-01],
       [-1.03804268e-01],
       [ 2.42101192e-01],
       [ 3.16286266e-01],
       [ 8.24075222e-01],
       [ 3.68244439e-01],
       [ 8.66994619e-01],
       [ 8.08590531e-01],
       [ 7.67093822e-02],
       [ 7.21333206e-01],
       [ 9.71251965e-01],
       [ 3.71136159e-01],
       [ 2.44176596e-01],
       [ 5.91848075e-01],
       [ 3.68810833e-01],
       [ 8.40628684e-01],
       [ 2.49504685e-01],
       [ 8.36639404e-02],
       [ 2.30174810e-01],
       [ 3.76109362e-01],
       [ 8.80176723e-01],
       [ 3.13884199e-01],
       [ 3.46720129e-01],
       [ 8.60959649e-01],
       [-1.10637613e-01],
       [ 2.93271273e-01],
       [ 2.29194254e-01],
       [ 1.00199091e+00],
       [ 2.53642887e-01],
       [ 1.00633430e+00],
       [ 2.53894806e-01],
       [ 7.28117943e-01],
       [ 7.78809667e-01],
       [ 2.51601487e-01],
       [ 8.57385814e-01],
       [ 9.66262966e-02],
       [ 4.01233792e-01],
       [ 3.11601132e-01],
       [ 9.69071865e-01],
       [ 1.79733783e-01],
       [ 2.89106280e-01],
       [ 6.06444001e-01],
       [ 2.54768789e-01],
       [ 4.30574059e-01],
       [ 2.38794118e-01],
       [ 9.74274695e-01],
       [ 1.16886103e+00],
       [ 7.21882939e-01],
       [ 3.60359520e-01],
       [ 2.94573724e-01],
       [ 2.29344338e-01],
       [ 4.48867753e-02],
       [ 2.79222041e-01],
       [ 9.79240417e-01],
       [-2.39858389e-01],
       [ 8.24748397e-01],
       [ 7.76706040e-01],
       [ 1.03288138e+00],
       [ 2.54443973e-01],
       [ 2.91696638e-01],
       [ 2.48362303e-01],
       [ 2.45545059e-01],
       [ 2.29718029e-01],
       [ 2.89951742e-01],
       [ 2.45224029e-01],
       [ 9.63347495e-01],
       [ 2.53364027e-01],
       [-1.00432597e-01],
       [ 2.53245145e-01],
       [ 5.82577944e-01],
       [ 7.49913275e-01],
       [ 3.83566558e-01],
       [ 2.29562044e-01],
       [ 2.63112485e-01],
       [ 2.29840130e-01],
       [ 8.68547440e-01],
       [ 2.52854288e-01],
       [ 2.25170016e-01],
       [ 2.90131778e-01],
       [ 1.09729052e+00],
       [ 7.52332151e-01],
       [ 2.13870108e-01],
       [ 8.42428148e-01],
       [ 3.74629050e-01],
       [ 2.21680477e-02],
       [ 3.19729298e-01],
       [ 3.56842905e-01],
       [ 7.99986184e-01],
       [ 1.24122217e-01],
       [ 8.41333508e-01],
       [ 5.50373375e-01],
       [ 6.99069262e-01],
       [ 2.52828479e-01],
       [ 2.30257064e-01],
       [ 2.64001697e-01],
       [ 2.09119350e-01],
       [ 2.29691207e-01],
       [ 3.01440418e-01],
       [ 6.37486756e-01],
       [ 2.12910205e-01],
       [ 6.29789054e-01],
       [ 2.51357257e-01],
       [ 2.47058004e-01],
       [ 9.91689086e-01],
       [-4.52298224e-01],
       [ 3.42299342e-01],
       [ 2.49237984e-01],
       [ 2.51237333e-01],
       [ 4.08234835e-01],
       [ 3.49518478e-01],
       [ 2.48329699e-01],
       [ 8.34912717e-01],
       [ 5.89935303e-01],
       [ 1.05602197e-01],
       [-2.79560164e-02],
       [ 6.00365698e-01],
       [ 5.60637653e-01],
       [ 2.52643615e-01],
       [ 2.38755435e-01],
       [ 2.30279356e-01],
       [ 5.99301577e-01],
       [ 1.21772158e+00],
       [ 7.12023914e-01],
       [ 8.04210424e-01],
       [ 3.47523928e-01],
       [ 2.49769121e-01],
       [ 3.04391086e-01],
       [ 2.49425292e-01],
       [ 2.35025823e-01],
       [ 3.91779929e-01],
       [ 3.56931150e-01],
       [ 9.35145557e-01],
       [ 2.50907511e-01],
       [ 9.86663461e-01],
       [-3.15783098e-02],
       [-1.06315605e-01],
       [ 3.49465460e-01],
       [ 7.23713219e-01],
       [ 3.09170902e-01],
       [ 2.10798353e-01],
       [ 6.74112260e-01],
       [ 2.51199186e-01],
       [ 5.86643875e-01],
       [ 3.90913576e-01],
       [ 7.37754926e-02],
       [ 3.62545639e-01],
       [ 2.10421115e-01],
       [ 3.43323320e-01],
       [ 2.55211025e-01],
       [ 1.67740107e-01],
       [ 7.38790870e-01],
       [-1.02196462e-01],
       [ 8.44068825e-01],
       [ 3.67075503e-01],
       [ 7.15673089e-01],
       [ 3.58802289e-01],
       [ 9.34748769e-01],
       [ 9.54020619e-01],
       [ 3.62690449e-01],
       [ 3.85811627e-01],
       [ 1.26887947e-01],
       [ 7.09772170e-01],
       [ 3.86638701e-01],
       [ 1.31493258e+00],
       [ 2.30806351e-01],
       [ 2.94394493e-01],
       [ 5.74000537e-01],
       [-7.57676437e-02],
       [ 1.02953398e+00],
       [ 9.61683631e-01],
       [ 2.53084689e-01],
       [ 7.82225013e-01],
       [ 8.87838900e-01],
       [-3.10869962e-01],
       [ 8.50911856e-01],
       [ 7.36196578e-01],
       [ 3.76610398e-01],
       [ 3.11204433e-01],
       [ 9.17025208e-01],
       [ 8.07688162e-02],
       [ 4.40050185e-01],
       [ 1.32381713e+00],
       [ 8.04872572e-01],
       [ 4.67175275e-01],
       [ 3.46311092e-01],
       [ 3.70108426e-01],
       [ 6.99631870e-04],
       [ 2.95333266e-01],
       [ 2.78623283e-01],
       [ 7.80639470e-01],
       [ 5.68797469e-01],
       [ 3.30762267e-01],
       [ 9.27196741e-01],
       [ 2.54282206e-01],
       [ 4.23584580e-01],
       [ 2.83100545e-01],
       [-6.99368864e-03],
       [ 2.51534820e-01],
       [ 9.01005387e-01],
       [ 4.07610908e-02],
       [ 4.43899274e-01],
       [-4.90599692e-01],
       [ 9.22909141e-01],
       [ 2.81077266e-01],
       [ 1.22365355e+00],
       [ 2.54169106e-01],
       [ 2.72933364e-01],
       [ 1.26749742e+00],
       [-2.44680122e-02],
       [ 8.65877509e-01],
       [-4.99276444e-02],
       [ 2.94929713e-01],
       [ 3.26781213e-01],
       [ 3.12679410e-01],
       [-5.58575511e-01],
       [ 8.04477513e-01],
       [ 7.17775881e-01],
       [ 8.03975940e-01],
       [ 9.12565470e-01],
       [ 7.90579021e-01],
       [ 2.31785387e-01],
       [ 8.88968885e-01],
       [ 2.66315281e-01],
       [ 2.31844395e-01],
       [ 1.06143728e-02]], dtype=float32)

#### Preivew of Train / Test data

In [ ]:
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)

In [19]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [22]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

#### Other / reference / deprecated

In [11]:
columns = test_data.columns
columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
ALL_FEATURES = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
ALL_FEATURES

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [14]:
# features = [ 'Pclass', 'Name', 'Sex', 'Age', 'SibSp','Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
features = [ 'Pclass', 'Sex', 'Age', 'SibSp','Parch', 'Fare', 'Embarked']
features

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [11]:
train_X = train_data[features]
train_X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [15]:
# [col for col in train_data.columns if train_data[col].isnull().any()]

len(train_data[train_data['Age'].isnull()])

# len(train_data)

177

In [25]:
[col for col in train_data.columns if train_data[col].isnull().any()]

len(train_data[train_data['Age'].isnull()])

len(train_data)

891

In [ ]:
missing_val_count_by_column = (train_X.isnull().sum())
missing_val_count_by_column
# print(missing_val_count_by_column[missing_val_count_by_column > 0

In [ ]:
train_X["Sex"] =  [0 if ((sex == 'female') or (sex == 0)) else 1 for sex in train_X["Sex"]]
train_X["Embarked"] =  [0 if ((embarked == 'C') or (embarked == 0)) else 1 if ((embarked == 'Q') or (embarked == 1)) else 2 for embarked in train_X["Embarked"]]
train_X.head()

In [ ]:
age_mean = train_X.Age.mean()
age_mean

In [ ]:
train_X = train_X.fillna({'Age': age_mean, 'Embarked': 0})

In [ ]:
missing_val_count_by_column = (train_X.isnull().sum())
missing_val_count_by_column

In [ ]:
train_y = train_data.Survived
train_y.head()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state=1)

In [ ]:
rf_model.fit(train_X, train_y)

In [ ]:
test_X = test_data[features]
test_X.head()

In [ ]:
missing_val_count_by_column = (test_X.isnull().sum())
missing_val_count_by_column

In [ ]:
test_X["Sex"] =  [0 if ((sex == 'female') or (sex == 0)) else 1 for sex in test_X["Sex"]]
test_X["Embarked"] =  [0 if ((embarked == 'C') or (embarked == 0)) else 1 if ((embarked == 'Q') or (embarked == 1)) else 2 for embarked in test_X["Embarked"]]
test_X.head()

In [ ]:
test_age_mean = test_X.Age.mean()
test_fare_mean = test_X.Fare.mean()

In [ ]:
test_X = test_X.fillna({'Age': test_age_mean, 'Fare': test_fare_mean})

In [ ]:
missing_val_count_by_column = (test_X.isnull().sum())
missing_val_count_by_column

In [ ]:
test_preds = rf_model.predict(test_X)
test_preds[:10]

In [ ]:
threshold = 0.5
test_preds = [0 if pred<threshold else 1 for pred in test_preds]
test_preds[:10]

In [ ]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId,
                      'Survived': test_preds})
output.to_csv('submission.csv', index=False)

In [ ]:
[col for col in [1,2,3,4] if col!=1]

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_absolute_error

# read in data
dtrain = xgb.DMatrix(trains_X.values, trains_Y.values)
dtest = xgb.DMatrix(test_X.values)
# specify parameters via map
param = {'max_depth':2, 'eta':1, 'objective':'binary:logistic' }
num_round = 2
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

mean_absolute_error(preds, )