In [18]:
import pandas as pd
import xgboost as xgb
import functools
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [19]:
DATA_FOLDER = "data"

In [20]:
train_data = pd.read_csv(f"{DATA_FOLDER}/train.csv")
train_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [21]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [22]:
test_data = pd.read_csv(f"{DATA_FOLDER}/test.csv")
test_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [23]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [24]:
CATEGORICAL_COLUMNS = [
    "MSSubClass",
    "MSZoning",
    "Street",
    "Alley",
    "LotShape",
    "LandContour",
    "Utilities",
    "LotConfig",
    "LandSlope",
    "Neighborhood",
    "Condition1",
    "Condition2",
    "BldgType",
    "HouseStyle",
    "YearBuilt",
    "RoofStyle",
    "RoofMatl",
    "Exterior1st",
    "Exterior2nd",
    "MasVnrType",
    "ExterQual",
    "ExterCond",
    "Foundation",
    "BsmtQual",
    "BsmtCond",
    "BsmtExposure",
    "BsmtFinType1",
    "BsmtFinType2",
    "Heating",
    "HeatingQC",
    "CentralAir",
    "Electrical",
    "KitchenQual",
    "Functional",
    "FireplaceQu",
    "GarageType",
    "GarageFinish",
    "GarageQual",
    "GarageCond",
    "PavedDrive",
    "PoolQC",
    "Fence",
    "MiscFeature",
    "SaleType",
    "SaleCondition",
]

def convert_column_to_one_hot_encoding(df, column_name):
    return pd.concat([df,pd.get_dummies(df[column_name], prefix=column_name,dummy_na=True)],axis=1).drop([column_name],axis=1)

def convert_columns(dataset, columns):
    return functools.reduce(
        lambda df, column_name: convert_column_to_one_hot_encoding(df, column_name),
        columns,
        dataset,
    )

In [25]:
combined_encoded_data = convert_columns(pd.concat([train_data, test_data]), CATEGORICAL_COLUMNS)
combined_encoded_data

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,1,65.0,8450,7,5,2003,196.0,706.0,0.0,150.0,...,0,1,0,0,0,0,0,1,0,0
1,2,80.0,9600,6,8,1976,0.0,978.0,0.0,284.0,...,0,1,0,0,0,0,0,1,0,0
2,3,68.0,11250,7,5,2002,162.0,486.0,0.0,434.0,...,0,1,0,0,0,0,0,1,0,0
3,4,60.0,9550,7,5,1970,0.0,216.0,0.0,540.0,...,0,1,0,1,0,0,0,0,0,0
4,5,84.0,14260,8,5,2000,350.0,655.0,0.0,490.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,21.0,1936,4,7,1970,0.0,0.0,0.0,546.0,...,0,1,0,0,0,0,0,1,0,0
1455,2916,21.0,1894,4,5,1970,0.0,252.0,0.0,294.0,...,0,1,0,1,0,0,0,0,0,0
1456,2917,160.0,20000,5,7,1996,0.0,1224.0,0.0,0.0,...,0,1,0,1,0,0,0,0,0,0
1457,2918,62.0,10441,5,5,1992,0.0,337.0,0.0,575.0,...,0,1,0,0,0,0,0,1,0,0
1458,2919,74.0,9627,7,5,1994,94.0,758.0,0.0,238.0,...,0,1,0,0,0,0,0,1,0,0

In [30]:
encoded_train_data = combined_encoded_data[:len(train_data)]
encoded_train_data

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,1,65.0,8450,7,5,2003,196.0,706.0,0.0,150.0,...,0,1,0,0,0,0,0,1,0,0
1,2,80.0,9600,6,8,1976,0.0,978.0,0.0,284.0,...,0,1,0,0,0,0,0,1,0,0
2,3,68.0,11250,7,5,2002,162.0,486.0,0.0,434.0,...,0,1,0,0,0,0,0,1,0,0
3,4,60.0,9550,7,5,1970,0.0,216.0,0.0,540.0,...,0,1,0,1,0,0,0,0,0,0
4,5,84.0,14260,8,5,2000,350.0,655.0,0.0,490.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,62.0,7917,6,5,2000,0.0,0.0,0.0,953.0,...,0,1,0,0,0,0,0,1,0,0
1456,1457,85.0,13175,6,6,1988,119.0,790.0,163.0,589.0,...,0,1,0,0,0,0,0,1,0,0
1457,1458,66.0,9042,7,9,2006,0.0,275.0,0.0,877.0,...,0,1,0,0,0,0,0,1,0,0
1458,1459,68.0,9717,5,6,1996,0.0,49.0,1029.0,0.0,...,0,1,0,0,0,0,0,1,0,0
1459,1460,75.0,9937,5,6,1965,0.0,830.0,290.0,136.0,...,0,1,0,0,0,0,0,1,0,0

In [31]:
X = encoded_train_data.drop(['Id'], axis=1).drop(['SalePrice'], axis=1)
X

,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,65.0,8450,7,5,2003,196.0,706.0,0.0,150.0,856.0,...,0,1,0,0,0,0,0,1,0,0
1,80.0,9600,6,8,1976,0.0,978.0,0.0,284.0,1262.0,...,0,1,0,0,0,0,0,1,0,0
2,68.0,11250,7,5,2002,162.0,486.0,0.0,434.0,920.0,...,0,1,0,0,0,0,0,1,0,0
3,60.0,9550,7,5,1970,0.0,216.0,0.0,540.0,756.0,...,0,1,0,1,0,0,0,0,0,0
4,84.0,14260,8,5,2000,350.0,655.0,0.0,490.0,1145.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,7917,6,5,2000,0.0,0.0,0.0,953.0,953.0,...,0,1,0,0,0,0,0,1,0,0
1456,85.0,13175,6,6,1988,119.0,790.0,163.0,589.0,1542.0,...,0,1,0,0,0,0,0,1,0,0
1457,66.0,9042,7,9,2006,0.0,275.0,0.0,877.0,1152.0,...,0,1,0,0,0,0,0,1,0,0
1458,68.0,9717,5,6,1996,0.0,49.0,1029.0,0.0,1078.0,...,0,1,0,0,0,0,0,1,0,0
1459,75.0,9937,5,6,1965,0.0,830.0,290.0,136.0,1256.0,...,0,1,0,0,0,0,0,1,0,0

In [32]:
y = train_data['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [33]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [38]:
# specify parameters via map
dtrain = xgb.DMatrix(train_X.values, train_y.values)
dval = xgb.DMatrix(val_X.values)

# param = {'max_depth':2, 'eta':1, 'objective':'binary:logistic', "tree_method": "gpu_hist" }

param = {'max_depth':4, 'eta':0.001, "tree_method": "gpu_hist" }
num_round = 20000

bst = xgb.train(param, dtrain, num_round)

xgb_val_preds = bst.predict(dval)
rf_val_mae = mean_absolute_error(xgb_val_preds, val_y)

print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

# After training, the model can be saved.
# bst.save_model('0001.model')

Validation MAE for Random Forest Model: 15,043

---

## TEST evaluation

In [42]:
encoded_test_data = combined_encoded_data[len(train_data):]
encoded_test_data

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,1461,80.0,11622,5,6,1961,0.0,468.0,144.0,270.0,...,0,1,0,0,0,0,0,1,0,0
1,1462,81.0,14267,6,6,1958,108.0,923.0,0.0,406.0,...,0,1,0,0,0,0,0,1,0,0
2,1463,74.0,13830,5,5,1998,0.0,791.0,0.0,137.0,...,0,1,0,0,0,0,0,1,0,0
3,1464,78.0,9978,6,6,1998,20.0,602.0,0.0,324.0,...,0,1,0,0,0,0,0,1,0,0
4,1465,43.0,5005,8,5,1992,0.0,263.0,0.0,1017.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,21.0,1936,4,7,1970,0.0,0.0,0.0,546.0,...,0,1,0,0,0,0,0,1,0,0
1455,2916,21.0,1894,4,5,1970,0.0,252.0,0.0,294.0,...,0,1,0,1,0,0,0,0,0,0
1456,2917,160.0,20000,5,7,1996,0.0,1224.0,0.0,0.0,...,0,1,0,1,0,0,0,0,0,0
1457,2918,62.0,10441,5,5,1992,0.0,337.0,0.0,575.0,...,0,1,0,0,0,0,0,1,0,0
1458,2919,74.0,9627,7,5,1994,94.0,758.0,0.0,238.0,...,0,1,0,0,0,0,0,1,0,0

In [43]:
# create test_X which comes from test_data but includes only the columns you used for prediction.
# The list of columns is stored in a variable called features
# test_X = test_data[features]
test_X = encoded_test_data.drop(['Id'], axis=1).drop(['SalePrice'], axis=1)
test_X

,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,80.0,11622,5,6,1961,0.0,468.0,144.0,270.0,882.0,...,0,1,0,0,0,0,0,1,0,0
1,81.0,14267,6,6,1958,108.0,923.0,0.0,406.0,1329.0,...,0,1,0,0,0,0,0,1,0,0
2,74.0,13830,5,5,1998,0.0,791.0,0.0,137.0,928.0,...,0,1,0,0,0,0,0,1,0,0
3,78.0,9978,6,6,1998,20.0,602.0,0.0,324.0,926.0,...,0,1,0,0,0,0,0,1,0,0
4,43.0,5005,8,5,1992,0.0,263.0,0.0,1017.0,1280.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,21.0,1936,4,7,1970,0.0,0.0,0.0,546.0,546.0,...,0,1,0,0,0,0,0,1,0,0
1455,21.0,1894,4,5,1970,0.0,252.0,0.0,294.0,546.0,...,0,1,0,1,0,0,0,0,0,0
1456,160.0,20000,5,7,1996,0.0,1224.0,0.0,0.0,1224.0,...,0,1,0,1,0,0,0,0,0,0
1457,62.0,10441,5,5,1992,0.0,337.0,0.0,575.0,912.0,...,0,1,0,0,0,0,0,1,0,0
1458,74.0,9627,7,5,1994,94.0,758.0,0.0,238.0,996.0,...,0,1,0,0,0,0,0,1,0,0

In [44]:
# read in data
dtest = xgb.DMatrix(test_X.values)

# make prediction
preds = bst.predict(dtest)

output = pd.DataFrame({'Id': test_data.Id,
                      'SalePrice': preds})
output.to_csv('submission.csv', index=False)
output.to_csv('submission_xgboost.csv', index=False)

---

In [21]:
pd.get_dummies(train_data)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,1,0,0,0,0,1,0

In [19]:
convert_columns(train_data, CATEGORICAL_COLUMNS).describe()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.0,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.0
mean,730.500000,70.049958,10516.828082,6.099315,5.575342,1984.865753,103.685262,443.639726,46.549315,567.240411,...,0.002055,0.867808,0.0,0.069178,0.002740,0.008219,0.013699,0.820548,0.085616,0.0
std,421.610009,24.284752,9981.264932,1.382997,1.112799,20.645407,181.066207,456.098091,161.319273,441.866955,...,0.045299,0.338815,0.0,0.253844,0.052289,0.090317,0.116277,0.383862,0.279893,0.0
min,1.000000,21.000000,1300.000000,1.000000,1.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,365.750000,59.000000,7553.500000,5.000000,5.000000,1967.000000,0.000000,0.000000,0.000000,223.000000,...,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
50%,730.500000,69.000000,9478.500000,6.000000,5.000000,1994.000000,0.000000,383.500000,0.000000,477.500000,...,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
75%,1095.250000,80.000000,11601.500000,7.000000,6.000000,2004.000000,166.000000,712.250000,0.000000,808.000000,...,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
max,1460.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,1600.000000,5644.000000,1474.000000,2336.000000,...,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [20]:
convert_columns(test_data, CATEGORICAL_COLUMNS).describe()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
count,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,1458.000000,1458.000000,...,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.0
mean,2190.000000,68.580357,9819.161069,6.078821,5.553804,1983.662783,100.709141,439.203704,52.619342,554.294925,...,0.002742,0.862234,0.000685,0.061001,0.005483,0.008225,0.017820,0.825223,0.082248,0.0
std,421.321334,22.376841,4955.517327,1.436812,1.113740,21.130467,177.625900,455.268042,176.753926,437.260486,...,0.052306,0.344772,0.026180,0.239414,0.073871,0.090348,0.132344,0.379907,0.274837,0.0
min,1461.000000,21.000000,1470.000000,1.000000,1.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1825.500000,58.000000,7391.000000,5.000000,5.000000,1963.000000,0.000000,0.000000,0.000000,219.250000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
50%,2190.000000,67.000000,9399.000000,6.000000,5.000000,1992.000000,0.000000,350.500000,0.000000,460.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
75%,2554.500000,80.000000,11517.500000,7.000000,6.000000,2004.000000,164.000000,753.500000,0.000000,797.750000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
max,2919.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,1290.000000,4010.000000,1526.000000,2140.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0